<footer>
    <article>
        <h3>About us</h3>
        <p>Adipisicing sequi eaque recusandae accusamus possimus dicta? Autem voluptate neque aliquid ipsa magni, eum assumenda nostrum modi Placeat laudantium dolores dolorem blanditiis ab! Libero esse deleniti vel labore obcaecati odit. Corporis cupiditate impedit nulla doloribus porro Nihil saepe explicabo voluptas animi repudiandae magnam architecto, aspernatur dolores! Corporis ipsum praesentium saepe.</p>
    </article>
    <article>
        <h3>Copyright</h3>
        <p>Adipisicing sequi eaque recusandae accusamus possimus dicta? Autem voluptate neque aliquid ipsa magni, eum assumenda nostrum modi Placeat laudantium dolores dolorem blanditiis ab! Libero esse deleniti vel labore obcaecati odit. Corporis cupiditate impedit nulla doloribus porro Nihil saepe explicabo voluptas animi repudiandae magnam architecto, aspernatur dolores! Corporis ipsum praesentium saepe.</p>
    </article>
    <article>
        <h3>Legal</h3>
        <p>Adipisicing sequi eaue recusandae accusamus possimus dicta? Autem voluptate neque aliquid ipsa magni, eum assumenda nostrum modi Placeat laudantium dolores dolorem blanditiis ab! Libero esse deleniti vel labore obcaecati odit. Corporis cupiditate impedit nulla doloribus porro Nihil saepe explicabo voluptas animi repudiandae magnam architecto, aspernatur dolores! Corporis ipsum praesentium saepe.</p>
    </article>
</footer>
